* {
margin: 0;
padding: 0;
list-style-type: none;
box-sizing: border-box;
text-decoration: none;   
}

body {
font-family: "Montserrat", sans-serif;
background: linear-gradient(135deg, #D9B504, #F2F2F0, #BF7E04, #BF6B04, #A63F03, #FFFFFF);

}

.HEAD {
  position: relative;
  }
  
  nav {
  z-index: 1;
  position: relative;
  }
  
  
  
  nav {
    text-align: center;
    width: 100%;
    height: 6.5vw;
    margin: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: #000000;
    padding: 0.1% auto;
    /* border-bottom-left-radius:10% ;
    border-bottom-right-radius: 10%; */
    opacity: 90%;
    }
  /* #navb{
    position: fixed;
  } */
  a{
    color: #f9eb8f;
    font-size: 1.1vw;
    }

  nav:hover{
  opacity: 100%;
  }
  
  .navbar {
  padding: .3% 0;
  display: inline-block;
  }
  
  .navbar > li {
  float: left;
  width: 14%;
  height: 6.5vw;
  line-height: 6.5vw;
  cursor: pointer;


  }
  .sub-menu li {
    width: 120%;
    border-bottom: #f9eb8f 0.1px solid;

    line-height:5.5vw;
    height: 5vw;
    font-size: 2vh;
    background: #ebb81d00;
    padding: 0px 0;
    transform: scale(0);
    transform-origin: top center;
    transition: all 100ms ease-in-out;
    }
/* 3e3a40  gris
ebb91d jaune
f9eb8f beige
cdc8ab gris fetah
5c6074 bleugris */
  .navbar > li:hover a ,.active{
  color:  #ebb91d;
  font-size: 1.25vw;
  
  }
  
  .sub-menu {
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
  
  }
  
  
  .sub-menu li:last-child {
  border-bottom: 0;
  }

  .sub-menu li:hover a{
  color: #f9eb8f;
  font-size: 1.45vw;
  }
  .sub-menu li{
    background-color: #000000;
    opacity: 80%;
  } 
  .navbar > li:hover .sub-menu li {
  transform: scale(1);
  }
  
  .navbar > li:hover .sub-menu {
  transform: scale(1);
  }
  .logo{
    padding-top: 0.7vh;
  }
  
  #img{

  width: 40%;
  }
  
  
  /* .footer {
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: #cdc8ab;
  bottom: 0px;
  
  }
  
  .copyright{
  position: absolute;
  width: 100%;
  color: #3e3a40;
  line-height: 300%;
  font-size: 0.8em;
  text-align: center;
  bottom:5px;
  }
 */
/* footer */
 .footer-section {
  background: #151414;
  position: relative;
  width: 100%;
  }
  
  
  .footer-content {
  position: relative;
  padding-top: 3vw;
  }
  
  /* .footer-logo {
  margin-bottom: 1vw;
  text-align: center;
  padding: 2vw;
  }
  
  .footer-logo img {
    max-width: 7vw;
  } */
  /* 3e3a40  gris
  ebb91d jaune
  f9eb8f beige
  cdc8ab gris fetah
  5c6074 bleugris */
  
  /* abonnez vous a newsletter */
  .footer-text{
    text-align: center;
    padding: 2vw;
    color: #f9eb8f;
    padding-top: 4vw;
    font-size: 1vw;
  }
  .footer-widget{
    text-align: center;
  }
  /* le schema  */
  .footer-widget ul li {
  display: inline-block;
  width: 25vw;
  text-align: center;
  margin-bottom: 1.5vw;
  
  
  }
  .border{
    border-right: #cdc8ab solid 1px;
  
  }
  .footer-widget ul li a:hover{
  color: #ebb91d;
  }
  .footer-widget ul li a {
  color: #ffff;
  opacity: 90%;
  
  }
  
  .subscribe-form {
  position: relative;
  /* si je clique sur email address le cadre blanc ne sera pas affiche */
  overflow: hidden;  
  width:20vw ;
  margin: auto;
  }
  .subscribe-form input {
  width: 100%;
  padding: 1vw 2vw;
  background: #3e3a40;
  border: 1px solid #3e3a40;
  color: #fff;
  font-size: 1.2vw;
  }
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #ebb91d;
    padding: auto;
    border: 1px solid #ebb91d;
    top: 0;
    width: 30%;
    height: 100%;
  }
  .subscribe-form button i {
  color: #3e3a40;
  font-size: 1.5vw;
  transform: rotate(-6deg);
  }

  .copyright{
    position: absolute;
    width: 100%;
    color: #3e3a40;
    line-height: 3vw;
    font-size: 1.2vw;
    text-align: center;
    bottom:5px;
    }
    .copyright-area{
      background: #000000;
      padding: 2vw 0;
      margin-top: 3vw;
      
      }
      .copyright-area p{
        color: #3e3a40;
      }
 

.imageHead  {
  
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-top: 18vh;
  padding: 15vw;
  color: white;
  text-shadow: 0px 0px 4px black;
  position: absolute;
  top: 0; /* align to top edge of screen */
  left: 0;
  right: 0;
  }

  .imageHead span {
    position: relative;
    display: inline-block;
    font-size: 3vw;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

/* .imageHead  h1{

  background-size: cover;
  background-position: center;
  text-align: center;
  margin-top: 18vh;
  padding: 15vw;
  color: white;
  text-shadow: 0px 0px 4px black;
  position: absolute;
  top: 0; /* align to top edge of screen */
  /* left: 0;
  right: 0;
} */
.imageHead h1{
  background-size: cover;
background-position: center;
text-align: center;
margin-top: -7%;
padding: 15%;
color: white;
text-shadow: 0px 0px 4px black;
margin-bottom: 5%;
position: absolute;
top: 0; 
left: 0;
right: 0;
}


.container {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
  padding: 50px;
  margin-top: 10%;
  align-items: center;
  width: 100%;
}

.box {
  position: relative;
  width: 20vw;
  height:23vw;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  
}

.box:hover {
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color:white;
  width: 100%;
  text-align: center;
  font-size: 2vw;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
} 

.box:hover .title {
  background-color: transparent;
  color: transparent;
  opacity: 0;
}

.paragraph {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 80%;
  text-align: center;
  font-size: 120%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.box:hover .paragraph {
  opacity: 1;
}

.button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

#button1{
  background-color: #A63F03;
}
#button2{
  background-color:  #BF6B04;
}
#button3{
  background-color: #D9B504;
}
#button4{
  background-color: #F2E3D5;
}

.box:hover .button {
  opacity: 1;
}

#box1, #box3{
  transform: translateY(-50%);
}
#box2{
  transform: rotate(10deg)
}
#box4{
  transform: rotate(-10deg)
}

#form2{
  opacity: 1;
  z-index: 3;
  position: absolute;
  
  height: 520px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  z-index: 1;
  margin-top: 5%;
  }

  
  #form2 *{
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  }
  #form2 h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  }
  
  #form2 label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  }
  #form2 input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  }
  #form2 ::placeholder{
  color: #e5e5e5;
  }
  #form2 button{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  }
  
  #form2 #btn2{
  width: 50%;
  margin-top: 10px;
  background-color: transparent;
  color:  #ffffff;
  border: 2px solid white;
  
  }
  
  #form2 a:not(#NV){
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  display: block;
  margin-top: 20px;
  margin-bottom: -20px;
  }