*{
margin: 0;
padding: 0;
font-family: 'Open Sans', sans-serif;
box-sizing: border-box;
outline: none;
text-decoration: none; 

}

body{
    /* background: linear-gradient(40deg, #f9eb8f, #5c6074); */

    background:  #cdc8ab;

    /* background: #d9d9d9; */
color: #3e5967;
font-size: 14px;
font-family: "Montserrat", sans-serif;

}

::placeholder{
color: #5c6074;
}

.wrapper{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

.money{
padding: 10px 15px;
width: 25%;
height: 40px;
background: #cdc8ab;
border: 1px solid #cdc8ab;
letter-spacing: 4px;
}

.payment_form{
position: relative;
width: 425px;
max-width: 100%;
height: 275px;


}

.payment_form label{
display: block;
color: #fff;
margin-bottom: 8px;

}

.payment_form .input{
padding: 10px 15px;
width: 100%;
height: 40px;
background: #cdc8ab;
border: 1px solid #cdc8ab;
letter-spacing: 4px;
}


.payment_form .back_card,
.payment_form .front_card{
    /* background: #5c6074; */
    background: #3e5967;

width: 100%;
height: 100%;
border-radius: 25px;
box-shadow: 5px 5px 5px #3e3a40;
}

.payment_form .back_card .stripe{
position: absolute;
top: 30px;
left: 0;
width: 100%;
height: 55px;
/* background: #5c6074; */
background: linear-gradient(165deg, #ffffff,#3e3a40,#ffffffaf);

}
/* 3e3a40  gris
ebb91d jaune
f9eb8f beige
cdc8ab gris fetah
5c6074 bleugris */
.payment_form .back_card .input_field {
position: absolute;
bottom: 60px;
right: 30px;
width: 68px;
}

.payment_form .front_card{
padding: 30px;
position: absolute;
bottom: 40px;
left: -125px;
box-shadow: 5px 5px 5px #3e3a40;
}

.payment_form .front_card .pay_sec{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 30px;
}

.payment_form .front_card .pay_sec .visa_img{
width: 65px;
height: 25px;
}

.payment_form .front_card .pay_sec .visa_img img{
width: 100%;
height: 100%;
}

.payment_form .front_card .pay_sec .pay p{
color: #fff;
font-size: 16px;
}

.payment_form .front_card .pay_sec .pay p span{
font-weight: 900;
font-size: 20px;
}

.payment_form .front_card .form .input_top{
margin-bottom: 20px;
}

.payment_form .front_card .form .input_top .input_grp,
.payment_form .front_card .form .input_bottom{
display: flex;
justify-content: space-between;
}

.payment_form .front_card .form .input_grp .input_field{
margin-right: 15px;
}

.payment_form .front_card .form .input_grp .input_field:last-child{
margin-right: 0;
}

.payment_form .front_card .form .input_bottom .input_left{
margin-right: 25px;
}

.payment_form .front_card .form .input_bottom .input_right .input_grp{
display: flex;
justify-content: space-between;
}

.payment_form .front_card .form .input_bottom .input_right .input_grp .input_field{
width: 55px;
}

.payment_form_wrapper  .back{
margin-top: 30px;
width: 225px;
padding: 15px 20px;
/* background: #3e3a40; */
background: linear-gradient(165deg, #ffffff,#3e3a40,#ffffffaf);
color: #fff;
text-align: center;
border-radius: 5px;
cursor: pointer;
letter-spacing: 3px;
box-shadow: 3px 3px 5px #000000;
}

.payment_form_wrapper .back:hover{
    /* background: #3e3a40; */
    background: linear-gradient(165deg,#3e3a40, #ffffff,#3e3a40);
    color: #000000;
}

.payment_form_wrapper  .btn input{
    margin-top: 30px;
    width: 225px;
    padding: 15px 20px;
    /* background: #3e3a40; */
    background: linear-gradient(165deg, #ffffff,#3e3a40,#ffffffaf);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 3px;
    box-shadow: 3px 3px 5px #000000;
    }
    
    .payment_form_wrapper .btn input:hover{
        /* background: #3e3a40; */
        background: linear-gradient(165deg,#3e3a40, #ffffff,#3e3a40);
        color: #000000;
    }
